.status-bar,.view-header-nav-buttons, .view-header-title-container, .view-actions {
    opacity: 20%;
}
.status-bar:hover,.view-header-nav-buttons:hover, .view-header-title-container:hover, .view-actions:hover {
    opacity: 100%;
}

.status-bar {
    border: 0;
    border-radius: 5px;
    margin-right: 80px;
    margin-bottom: 10px;
}

.workspace-tab-header-new-tab {
    opacity: 20%;
   }
   .workspace-tab-header-new-tab:hover {
    opacity: 100%;
   }

.workspace-tab-header-tab-list {
opacity: 20%;
}
   .workspace-tab-header-tab-list:hover {
    opacity: 100%;
   }
   
.workspace-tab-header {
opacity: 30%;
}
   .workspace-tab-header:hover {
    opacity: 80%;
   }

   .workspace-tab-header.is-active {
opacity: 100%;
   }

.workspace-ribbon.mod-left {
    display: none;
}
.sidebar-toggle-button.mod-right {
    display: none;
}
.workspace-tab-header-tab-list {
    display: none;
}
.mod-macos.is-hidden-frameless:not(.is-popout-window) .workspace .workspace-tabs.mod-top-right-space .workspace-tab-header-container {
    padding-right: 5px;

}

.mod-macos .workspace-tab-header-container {
    margin-left: 45px;
}
